.panel-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.panel-name img {
  height: 150px;
  width: 100%;
}

.ant-menu {
  padding-top: 20px;
}

.ant-layout-header {
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.ant-layout-header div > span,
.ant-layout-header p {
  margin-right: 10px;
}
